[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/idodod
[access "refs/for/refs/*"]
	read = group user/idodod
	push = group user/idodod
	label-Code-Review = -2..+2 group user/idodod
	label-Verified = -1..+1 group user/idodod
	rebase = group user/idodod
	removeReviewer = group user/idodod
	submit = group user/idodod
[access "refs/heads/*"]
	read = group user/idodod
	create = group user/idodod
	push = +force group user/idodod
	pushMerge = group user/idodod
[access "refs/tags/*"]
	push = group user/idodod
	push = +force group user/idodod
